#fh5co-header {
    /*margin-top: 3em;*/
    margin-bottom: 5em;
}

#canvas {
	max-width: 1070px;
    margin: 0 auto;
    padding: 30px 30px 0;
    margin: 15px auto;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
}

.menu-border {
	border-bottom: 1px solid #ddd;
	line-height: 2em;
    margin-top: -2em;
    margin-bottom: 2em;
    font-size: 12px;
    z-index: 1000;
}

.btn-primary {
  background-color: #3c8dbc;
  border-color: #367fa9;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
  background-color: #367fa9;
}

.form-control:hover, .form-control:focus, .form-control:active {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #367fa9;
}

.fh5co-uppercase-heading-sm{
  font-weight: 400;
}

a {
  color: #e02745;
}

img {
  margin: 0 0 0 0;
}

/*.glyphicon { margin-right:5px; }*/
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-style: none;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    border-style: none;
}
/*.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}*/

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    /*padding: 9px 9px 0px 9px;*/
}
/*.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}*/

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
    height: 125px;
    width: 250px;
    object-fit: cover;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.item .thumbnail .caption a,
.item .thumbnail a
{
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.item .thumbnail .caption a:after
{
  height: 15px;
  background-image: url("");
  background-repeat: no-repeat;
  content: "";
}

.item .thumbnail .caption a:visited
{
  color: #898989;
  text-decoration: none;
}

.item .thumbnail .caption a:hover,
.item .thumbnail a:hover
{
  color: #eb081e;
  font-weight: bold;
  text-decoration: underline;
}


.carousel-inner .item img
{
    height: 480px;
    width: 960px;
    object-fit: cover;
}

.thumb_gallery
{
  position: relative;
}

.thumb_gallery p
{
  position: absolute; 
  bottom: -20px;
  left: 0; 
  width: 100%; 
  color: white; 
  font: 22px Helvetica, Sans-Serif; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
}

.thumb_gallery img
{
  height: 240px;
  width: 640px;
  object-fit: cover;
}

.post img
{
  height: 283px;
  width: 496px;
  object-fit: cover;
  margin-left: auto;
  margin-right:auto;
  display:block;
  margin-bottom: 20px;
}

.post .title
{
  padding-top: 10px;
  margin-top: 10px;
  /*font-size: 36px;*/
}

.col-md-3 img
{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10%;
}
/*.grid-item
{
  width: 25%;
  left: 0;
}

.grid-item img
{ 
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.grid-item--width2 { width: 400px; }*/