/*
//////////////////////////////////////////////////////

FREE HTML5 TEMPLATE 
DESIGNED & DEVELOPED by FREEHTML5.CO

//////////////////////////////////////////////////////
*/
@font-face {
  font-family: 'themify';
  src: url("../fonts/themify/themify.eot?-fvbane");
  src: url("../fonts/themify/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify/themify.woff?-fvbane") format("woff"), url("../fonts/themify/themify.ttf?-fvbane") format("truetype"), url("../fonts/themify/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #2e2e2e;
  font-weight: 300;
  letter-spacing: .05em;
}

::-webkit-selection {
  color: #ffffff;
  background: #7ee383;
}

::-moz-selection {
  color: #ffffff;
  background: #7ee383;
}

::selection {
  color: #ffffff;
  background: #7ee383;
}

a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
}

figure.fh5co-with-caption {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
figure.fh5co-with-caption img {
  margin-bottom: 0 !important;
}
figure.fh5co-with-caption figcaption {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 20px;
  color: #7b7b7b;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0 0 20px 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

h1, .h1 {
  font-size: 30px;
  line-height: 42px;
}

h2, .h2 {
  font-size: 26px;
  line-height: 38px;
}

h3, .h3 {
  font-size: 20px;
  line-height: 32px;
}

h4, .h4 {
  font-size: 16px;
  line-height: 28px;
}

h5, .h5 {
  font-size: 14px;
  line-height: 24px;
}

h6, .h6 {
  font-size: 12px;
  line-height: 24px;
}

ul, ol {
  padding-left: 15px;
  line-height: 26px;
}
ul ul, ul ol, ol ul, ol ol {
  padding-left: 25px;
}

p, img {
  margin: 0 0 20px 0;
}

ul, ol {
  padding-left: 15px;
  line-height: 24px;
}
ul ul, ul ol, ol ul, ol ol {
  padding-left: 25px;
}

#fh5co-header {
  margin-top: 3em;
  margin-bottom: 7em;
}
@media screen and (max-width: 768px) {
  #fh5co-header {
    margin-top: 4em;
    margin-bottom: 2em;
  }
}
#fh5co-header #fh5co-logo {
  margin-bottom: .7em;
}
@media screen and (max-width: 768px) {
  #fh5co-header #fh5co-logo {
    margin-bottom: .5em;
  }
}
#fh5co-header #fh5co-main-nav {
  display: block;
  padding: 5px 0;
  float: left;
  margin-bottom: 1em;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #fh5co-header #fh5co-main-nav {
    display: none;
  }
}
#fh5co-header #fh5co-nav {
  text-align: center;
}
#fh5co-header #fh5co-nav li {
  display: inline-block;
  list-style: none;
  position: relative;
  padding-right: 20px;
}
#fh5co-header #fh5co-nav li a {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #2e2e2e;
  padding: 4px 10px;
}
#fh5co-header #fh5co-nav li a:hover {
  /*color: #7ee383;*/
  /*border-bottom-color: transparent;*/
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
#fh5co-header #fh5co-nav li::after {
  position: absolute;
  right: 2px;
  top: 50%;
  content: '';
  height: 2px;
  width: 15px;
  /*background: #7ee383;*/
}
#fh5co-header #fh5co-nav li:last-child::after {
  width: 0;
  height: 0;
  background: none;
  content: '';
}
#fh5co-header #fh5co-nav li.active a {
  /*color: #7ee383;*/
  border-bottom-width: 1px;
  /*border-bottom-color: transparent;*/
  border-bottom-style: dotted;
}
@media screen and (max-width: 768px) {
  #fh5co-header #fh5co-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  #fh5co-header #fh5co-nav ul {
    padding: 0;
    margin: 0;
  }
  #fh5co-header #fh5co-nav li {
    display: block;
    margin-bottom: 10px;
    padding: 0 !important;
    margin-left: -50px;
    opacity: 0;
  }
  #fh5co-header #fh5co-nav li::after {
    background: transparent;
    width: 0;
    height: 0;
    background: none;
    content: '';
  }
  #fh5co-header #fh5co-nav li a {
    display: block;
    padding: 0 !important;
    margin: 0 !important;
  }
  #fh5co-header #fh5co-nav li.active a {
    border-bottom-style: none;
  }
}

.fh5co-section-title .fh5co-title,
.fh5co-page-title .fh5co-title {
  font-family: "Unica One", sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid #2e2e2e;
  font-size: 30px;
  line-height: 40px;
  display: inline-block;
}
.fh5co-section-title .fh5co-title-sub,
.fh5co-page-title .fh5co-title-sub {
  font-size: 20px;
  font-weight: 300 !important;
  line-height: 30px;
  color: #7b7b7b;
}

.fh5co-page-title .fh5co-title {
  font-size: 45px;
  line-height: 55px;
}

.fh5co-intro {
  font-weight: 300 !important;
  font-size: 19px;
  line-height: 27px;
  margin-bottom: 3em;
  position: relative;
  padding-bottom: 30px;
}
.fh5co-intro .fh5co-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: #7ee383;
}

.fh5co-features .fh5co-feature {
  margin-bottom: 30px;
}
.fh5co-features .fh5co-feature .fh5co-feature-icon {
  margin-bottom: 30px;
  display: block;
}
.fh5co-features .fh5co-feature .fh5co-feature-icon i {
  font-size: 50px;
  color: #7ee383;
}
.fh5co-features .fh5co-feature .fh5co-feature-title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.fh5co-half {
  float: left;
  width: 100%;
  background: #f5f8f5;
}
.fh5co-half .fh5co-50 {
  height: 500px;
  float: left;
}
.fh5co-half .fh5co-right {
  float: right;
  display: table;
}
.fh5co-half .fh5co-text {
  display: table-cell;
  vertical-align: middle;
}
.fh5co-half .fh5co-half-img {
  background-size: cover;
  width: 50%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .fh5co-half .fh5co-half-img {
    width: 100%;
    height: 300px;
  }
}
.fh5co-half .fh5co-half-text {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .fh5co-half .fh5co-half-text {
    width: 100%;
    height: inherit;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.fh5co-press {
  background: #f5f8f5;
  padding: 5em 0;
}
.fh5co-press .fh5co-press-item {
  background: #ffffff;
  float: left;
  margin-bottom: 30px;
}
.fh5co-press .fh5co-press-item .fh5co-press-text,
.fh5co-press .fh5co-press-item .fh5co-press-img {
  width: 50%;
  height: 300px;
}
@media screen and (max-width: 768px) {
  .fh5co-press .fh5co-press-item .fh5co-press-text,
  .fh5co-press .fh5co-press-item .fh5co-press-img {
    height: inherit;
    float: none !important;
    width: 100%;
  }
}
.fh5co-press .fh5co-press-item .fh5co-press-text {
  float: left;
  padding: 20px;
}
.fh5co-press .fh5co-press-item .fh5co-press-text .fh5co-press-title {
  margin-top: 0;
  position: relative;
  padding-bottom: 10px;
}
.fh5co-press .fh5co-press-item .fh5co-press-text .fh5co-press-title .fh5co-border {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 30px;
  background: #7ee383;
}
.fh5co-press .fh5co-press-item .fh5co-press-img {
  float: right;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .fh5co-press .fh5co-press-item .fh5co-press-img {
    height: 200px;
  }
}

#fh5co-footer {
  padding: 5em 0;
  padding-bottom: 2em;
}
#fh5co-footer a {
  color: #bababa;
  border-bottom: 1px solid transparent;
}
#fh5co-footer a:hover, #fh5co-footer a:active, #fh5co-footer a:focus {
  outline: none;
  color: #2e2e2e;
  border-bottom: 1px solid #7ee383;
}
#fh5co-footer ul {
  padding: 0;
  margin: 0;
}
#fh5co-footer ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 10px;
}
#fh5co-footer .fh5co-copyright {
  font-size: 13px;
}
#fh5co-footer .fh5co-footer-widget {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-footer-widget {
    margin-bottom: 30px;
  }
}
#fh5co-footer .fh5co-copyright {
  color: #7b7b7b;
}

@media screen and (max-width: 480px) {
  #fh5co-form-subscribe .form-group {
    width: 100%;
  }
}
#fh5co-form-subscribe .btn-subscribe-send {
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 0px;
  margin-left: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media screen and (max-width: 480px) {
  #fh5co-form-subscribe .btn-subscribe-send {
    margin-left: 0px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-form-subscribe #subscribe-email {
    margin-left: 0px;
  }
}

.fh5co-social {
  padding: 0;
  margin: 3em 0 0 0;
  float: right;
}
@media screen and (max-width: 768px) {
  .fh5co-social {
    float: none;
  }
}
.fh5co-social li {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.fh5co-social a {
  font-size: 18px;
  border-bottom: none !important;
  margin: 0 10px;
}
.fh5co-social a i {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #2e2e2e;
}
.fh5co-social a:hover, .fh5co-social a:active, .fh5co-social a:focus {
  border-bottom: none !important;
}
.fh5co-social a:hover i, .fh5co-social a:active i, .fh5co-social a:focus i {
  color: #7ee383;
}

.fh5co-nav-toggle {
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #2e2e2e;
}
.fh5co-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 3px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle.fh5co-nav-white > i {
  color: #ffffff;
  background: #ffffff;
}
.fh5co-nav-toggle.fh5co-nav-white > i::before, .fh5co-nav-toggle.fh5co-nav-white > i::after {
  background: #ffffff;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: relative;
  margin-left: 0px;
  margin-top: 0px;
  z-index: 21;
  display: block;
  margin: 0 auto;
  display: none;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
}

.fh5co-sidebar-nav ul {
  padding: 0;
  margin: 0;
}
.fh5co-sidebar-nav ul li {
  padding: 0;
  margin: 0 0 .5em 0;
  line-height: 24px;
  list-style: none;
}
.fh5co-sidebar-nav ul li a {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.fh5co-sidebar-nav .fh5co-sidebar-nav-desc {
  font-size: 14px;
  color: #ccc !important;
  line-height: 20px;
  display: block;
  cursor: pointer;
}
.fh5co-sidebar-nav a:hover .fh5co-sidebar-nav-desc {
  color: #2e2e2e !important;
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .owl-carousel .owl-controls .owl-nav {
    display: none;
  }
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next {
  left: 0;
  left: -70px;
  margin-top: -60px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover {
  margin-top: -65px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover i:before {
  color: #7ee383;
}

.owl-carousel .owl-controls .owl-nav .owl-prev {
  left: -70px;
  margin-top: 0px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover {
  margin-top: 5px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover i:before {
  color: #7ee383;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #2e2e2e;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #ffffff;
}
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 30px;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
  background: none !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: #ccc;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid #7ee383;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #7ee383;
}

.quote {
  width: 75%;
  margin: 0 auto;
  font-size: 28px;
  line-height: 38px;
}
.quote cite {
  margin-top: 20px;
  display: block;
  font-size: 20px;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  .quote {
    font-size: 20px;
    width: 100%;
  }
}

#map {
  width: 100%;
  height: 400px;
}

/* Buttons */
.btn {
  font-family: "Lato", sans-serif;
  border-bottom: none !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.5;
}
.btn:hover, .btn:focus, .btn:active {
  box-shadow: none;
  outline: none !important;
  border-color: transparent;
}
.btn.fh5co-btn-icon {
  text-transform: none !important;
  letter-spacing: normal !important;
  padding-left: 15px;
  padding-right: 15px;
}
.btn.btn-lg {
  padding: 30px;
}
.btn.btn-md {
  padding: 15px;
}
.btn.btn-sm {
  padding: 12px;
}
.btn.btn-xs {
  padding: 10px;
}

.btn-outline {
  border: 2px solid #eaeaea !important;
  background: transparent;
  color: #2a2e37;
}
.btn-outline:hover, .btn-outline:active, .btn-outline:focus {
  border: 2px solid #282e3c !important;
  background: #282e3c;
  color: #ffffff;
}

.btn-primary {
  background: #7ee383;
  border: 2px solid #7ee383;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background: #61dd67;
}

.btn-success {
  background: #00e195;
  border: 2px solid #00e195;
}
.btn-success:hover, .btn-success:active, .btn-success:focus {
  background: #00bd7d;
}

.btn-danger {
  background: #e02745;
  border: 2px solid #e02745;
}
.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
  background: #c71d38;
}

.btn-info {
  background: #0bbff2;
  border: 2px solid #0bbff2;
}
.btn-info:hover, .btn-info:active, .btn-info:focus {
  background: #09a4d0;
}

.btn-warning {
  background: #ffd042;
  border: 2px solid #ffd042;
}
.btn-warning:hover, .btn-warning:active, .btn-warning:focus {
  background: #ffc71e;
}

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  border-color: transparent;
}

.form-control {
  box-shadow: none !important;
  border: 2px solid #ccc;
}
.form-control:hover, .form-control:focus, .form-control:active {
  outline: none;
  box-shadow: none !important;
  border: 2px solid #7ee383;
}

.fh5co-spacer {
  clear: both;
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
}

.fh5co-spacer-xlg {
  height: 150px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-xlg {
    height: 80px;
  }
}

.fh5co-spacer-lg {
  height: 100px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-lg {
    height: 70px;
  }
}

.fh5co-spacer-md {
  height: 80px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-md {
    height: 50px;
  }
}

.fh5co-spacer-sm {
  height: 50px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-sm {
    height: 20px;
  }
}

.fh5co-spacer-xs {
  height: 30px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-xs {
    height: 20px;
  }
}

.fh5co-spacer-xxs {
  height: 30px;
}

.fh5co-letter-spacing {
  letter-spacing: 1px;
}

.fh5co-no-margin-bottom {
  margin-bottom: 0 !important;
}

.fh5co-uppercase-heading-sm {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #7b7b7b;
}
.fh5co-uppercase-heading-sm.with-border {
  position: relative;
  padding-bottom: 10px;
}
.fh5co-uppercase-heading-sm.with-border .fh5co-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: #7ee383;
}

.form-group {
  margin-bottom: 20px;
}

.image-popup:hover {
  opacity: .7;
}

.fh5co-call-to-action {
  background-color: #7ee383;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.fh5co-call-to-action .fh5co-call-to-action-text {
  font-size: 50px;
  line-height: 60px;
  font-family: "Unica One", sans-serif;
  text-transform: uppercase;
}
.fh5co-call-to-action .btn {
  margin-bottom: 0 !important;
  padding-left: 50px;
  padding-right: 50px;
}
.fh5co-call-to-action > .fh5co-overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.fh5co-call-to-action .fh5co-call-to-action-wrap {
  position: relative;
  padding: 50px 0;
  display: table;
  width: 100%;
}
.fh5co-call-to-action .fh5co-call-to-action-wrap .fh5co-call-to-action-inner {
  display: table-cell;
  vertical-align: middle;
  font-size: 50px;
  line-height: 62px;
  color: #ffffff;
  width: 100%;
}

/* Accordions */
.fh5co-accordion .panel-title > a:hover {
  border-bottom: none !important;
}
.fh5co-accordion .panel-heading {
  background: transparent;
  position: relative;
  cursor: pointer;
}
.fh5co-accordion .panel-heading .accordion-toggle {
  color: #7ee383;
}
.fh5co-accordion .panel-heading .accordion-toggle:after {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2e2e2e !important;
  position: absolute;
  content: "\e622";
  right: 15px;
  top: 16px;
}
.fh5co-accordion .panel-heading.collapsed .accordion-toggle {
  color: #2e2e2e !important;
}
.fh5co-accordion .panel-heading.collapsed .accordion-toggle:after {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2e2e2e !important;
  position: absolute;
  content: "\e61a";
  right: 15px;
  top: 16px;
}

/* Progress Bars */
.progress {
  height: 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  box-shadow: none;
}

.progress-bar {
  box-shadow: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
.progress-bar.progress-bar-default {
  background: #7ee383;
}
.progress-bar.progress-bar-success {
  background: #00e195;
}
.progress-bar.progress-bar-info {
  background: #0bbff2;
}
.progress-bar.progress-bar-warning {
  background: #ffd042;
}
.progress-bar.progress-bar-danger {
  background: #e02745;
}

img.fh5co-align-right {
  float: right;
  margin: 0 0 .5em 1em;
}
@media screen and (max-width: 480px) {
  img.fh5co-align-right {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
img.fh5co-align-left {
  float: left;
  margin: 0 1em .5em 0;
}
@media screen and (max-width: 480px) {
  img.fh5co-align-left {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
img.fh5co-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a > img.fh5co-align-right {
  float: right;
  margin: 0 0 .5em 1em;
}
@media screen and (max-width: 480px) {
  a > img.fh5co-align-right {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
a > img.fh5co-align-left {
  float: left;
  margin: 0 1em .5em 0;
}
@media screen and (max-width: 480px) {
  a > img.fh5co-align-left {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
a > img.fh5co-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fh5co-gotop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  color: #ffffff !important;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 6px;
  z-index: 18;
}
.fh5co-gotop > i {
  position: relative;
  display: block;
  font-size: 20px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Easy Rsponsive Tabs */
.fh5co-tab {
  clear: both;
  display: block;
}

.resp-tab-active {
  color: #7ee383;
}

.resp-tabs-list li {
  font-family: "Lato", sans-serif;
}

.resp-content-active, .resp-accordion-active {
  display: block;
}

.fh5co-tab-menu-icon {
  font-size: 20px;
  position: relative;
  float: left;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-menu-icon {
    margin-top: 7px;
  }
}

/* Pricing Tables */
.fh5co-pricing-table-1 {
  font-family: "Lato", sans-serif;
}
@media screen and (max-width: 992px) {
  .fh5co-pricing-table-1 .fh5co-pricing-table-item {
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-pricing-table-1 .fh5co-pricing-table-item {
    margin-bottom: 20px !important;
    float: left;
    width: 100%;
  }
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body,
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading {
  text-align: center;
  float: left;
  width: 100%;
  padding: 1em 2em;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading {
  background: #7ee383;
  color: #ffffff;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 {
  font-size: 70px;
  position: relative;
  display: inline-block;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 sup {
  position: absolute;
  top: 2px;
  margin-left: -7px;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 sup, .fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 span {
  font-size: 14px;
  text-transform: uppercase;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item.fh5co-best-offer .fh5co-pricing-table-item-heading {
  background: #7ee383;
  color: #ffffff;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body {
  border: 2px solid #ccc;
  border-top: none;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body ul {
  padding: 0;
  margin: 0;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body ul li {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item.fh5co-best-offer .fh5co-pricing-table-item-body {
  border: 2px solid #7ee383;
  border-top: none;
}

.fh5co-no-margin-bottom {
  margin-bottom: 0 !important;
}

.fh5co-letter-space {
  letter-spacing: 4px;
}

.fh5co-link {
  font-family: "Lato", sans-serif;
}
.fh5co-link > i {
  margin-right: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.fh5co-link:hover > i {
  margin-right: 15px;
}

.fh5co-btn-other-option {
  float: left;
  margin-right: 10px;
}

.fh5co-other-option {
  margin-top: 12px;
  display: inline-block;
  float: left;
}
.fh5co-other-option .fh5co-or {
  margin-left: 10px;
  margin-right: 10px;
}

.fh5co-uppercase-heading-sm {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #7b7b7b;
}

/*# sourceMappingURL=style.css.map */
